- name: Installing base packages
  become: true
  package:
    name:
      - git
      - base-devel
      - wget
      - curl
      - xterm
      - ranger
      - i3
      - xorg-xrandr
      - python-pip
      - python-gobject
      - polybar
      - rofi
      - dunst
      - neovim
      - alacritty
      - tmux
      - picom
      - starship
      - maim
      - nautilus
      - htop
      - stow
      - fzf
      - xclip
      - tldr
      - ripgrep
      - ttf-hack-nerd
      - ttf-firacode-nerd
      - ttf-iosevka-nerd
      - nodejs
      - npm
      - go
      - cargo
      - unzip
      - zip
      - luarocks
      - fd
      - fakeroot
      - polkit
      - polkit-gnome
      - firefox
      - chromium
    state: present
- name: Install neovim npm package
  become: true
  npm:
    name: neovim
    global: true
