- name: Clone yay
  git:
    repo: https://aur.archlinux.org/yay-bin.git
    dest: "{{ builddir }}/yay"
    update: true

- name: Build and install yay
  command:
    chdir: "{{ builddir }}/yay"
    cmd: "makepkg -sfi --noconfirm"
    creates: /usr/bin/yay

- name: Ensure ansible modules folder exists
  file:
    dest: "{{ homedir }}/.ansible/plugins/modules"
    mode: 0755
    state: directory

- name: Download wlfft.aur module
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/kewlfft/ansible-aur/master/plugins/modules/aur.py
    dest: "{{ homedir }}/.ansible/plugins/modules/aur.py"

